{% extends  "index.html.twig" %}
{%  block menu %}   
    {% include 'menu/parts.html.twig' %}
{% endblock %}

{% block header %}
   
{% endblock %}


{% block body %}
   
    
    
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th class="col-10 p-1 text-start">Производители запчастей</th>
                <th class="col-2 p-1"></th>
            </tr>
        </thead>    
        <tbody>
            {% for brand in brandsObj %}
                <tr>
                    <td class="col-10 p-1 text-start"><a href = "{{ path('app_parts') }}/{{ brand.id }}">{{ brand.name }}</a></td>
                    <td class="col-2 p-1"></td>
                </tr>
            {% endfor %}
            
        </tbody>
    
    </table>
    
    
{% endblock %}



{% block javascripts %}
  {{ parent() }}

{% endblock %}